<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleExecutable</key>
    <string>VBANUltimateAudio</string>
    <key>CFBundleIdentifier</key>
    <string>com.iwmei.vbanultimate.audio</string>
    <key>CFBundleName</key>
    <string>VBANUltimateAudio</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.0</string>
    <key>CFBundleVersion</key>
    <string>2</string>
    <key>CFPlugInFactories</key>
    <dict>
        <key>9F7B12C4-85C1-44B1-8C59-F6A7B1C2D3E4</key>
        <string>EntryPoint</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
        <array>
            <string>9F7B12C4-85C1-44B1-8C59-F6A7B1C2D3E4</string>
        </array>
    </dict>
</dict>
</plist>
